src/main/resources/wsdl/calc.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cassi.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cassi.com.br/" name="CalculadoraServerImplService">
<types></types>
<message name="subtracao">
<part name="arg0" type="xsd:float"></part>
<part name="arg1" type="xsd:float"></part>
</message>
<message name="subtracaoResponse">
<part name="return" type="xsd:float"></part>
</message>
<message name="soma">
<part name="arg0" type="xsd:float"></part>
<part name="arg1" type="xsd:float"></part>
</message>
<message name="somaResponse">
<part name="return" type="xsd:float"></part>
</message>
<message name="multiplicacao">
<part name="arg0" type="xsd:float"></part>
<part name="arg1" type="xsd:float"></part>
</message>
<message name="multiplicacaoResponse">
<part name="return" type="xsd:float"></part>
</message>
<message name="divisao">
<part name="arg0" type="xsd:float"></part>
<part name="arg1" type="xsd:float"></part>
</message>
<message name="divisaoResponse">
<part name="return" type="xsd:float"></part>
</message>
<portType name="CalculadoraServer">
<operation name="subtracao" parameterOrder="arg0 arg1">
<input wsam:Action="http://cassi.com.br/CalculadoraServer/subtracaoRequest" message="tns:subtracao"></input>
<output wsam:Action="http://cassi.com.br/CalculadoraServer/subtracaoResponse" message="tns:subtracaoResponse"></output>
</operation>
<operation name="soma" parameterOrder="arg0 arg1">
<input wsam:Action="http://cassi.com.br/CalculadoraServer/somaRequest" message="tns:soma"></input>
<output wsam:Action="http://cassi.com.br/CalculadoraServer/somaResponse" message="tns:somaResponse"></output>
</operation>
<operation name="multiplicacao" parameterOrder="arg0 arg1">
<input wsam:Action="http://cassi.com.br/CalculadoraServer/multiplicacaoRequest" message="tns:multiplicacao"></input>
<output wsam:Action="http://cassi.com.br/CalculadoraServer/multiplicacaoResponse" message="tns:multiplicacaoResponse"></output>
</operation>
<operation name="divisao" parameterOrder="arg0 arg1">
<input wsam:Action="http://cassi.com.br/CalculadoraServer/divisaoRequest" message="tns:divisao"></input>
<output wsam:Action="http://cassi.com.br/CalculadoraServer/divisaoResponse" message="tns:divisaoResponse"></output>
</operation>
</portType>
<binding name="CalculadoraServerImplPortBinding" type="tns:CalculadoraServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="subtracao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://cassi.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://cassi.com.br/"></soap:body>
</output>
</operation>
<operation name="soma">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://cassi.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://cassi.com.br/"></soap:body>
</output>
</operation>
<operation name="multiplicacao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://cassi.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://cassi.com.br/"></soap:body>
</output>
</operation>
<operation name="divisao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://cassi.com.br/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://cassi.com.br/"></soap:body>
</output>
</operation>
</binding>
<service name="CalculadoraServerImplService">
<port name="CalculadoraServerImplPort" binding="tns:CalculadoraServerImplPortBinding">
<soap:address location="http://127.0.0.1:9876/calc"></soap:address>
</port>
</service>
</definitions>